<template name="landingLayout">

    <!-- Pre-loader -->
    <div class="loader-wrapper">
        <div id="loader"></div>
    </div>

    <!-- Top Navigation Bar -->
    {{> navbar }}

    <!-- Image Banner -->
    {{> banner }}

    <!-- About Me Resume -->
    {{> aboutme }}

    <!-- Features List -->
    {{> features }}

    <!-- My Mission -->
    {{> mission }}

    <!-- Image Gallery -->
    <!-- {{> image_gallery }} -->

    <!-- Audio Gallery -->
    <!-- {{> audio_gallery }} -->

    <!-- My Contact Information -->
    {{> contact }}

    <!-- Copyright Information -->
    {{> copyright }}
</template>
