<template name="aboutme">
  <section id="aboutme" class="container">
    <div class="row">
      <!-- Heading Name -->
      <div class="col-lg-12 text-center gallery-header">
          <div class="navy-line"></div>
          <h1>About <span class="gallery-header-light">Me</span></h1>
      </div>
    </div>

    <!-- Complete About Me -->
    <div class="row content-wrapper">
        <!-- accordion start -->
        <!-- ================ -->
      <div class="col-md-6">
        <div class="panel-group collapse-style-1" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="fa fa-university pr-10"></i>Education
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue dui vehicula, tincidunt diam ac, faucibus arcu. Etiam pellentesque imperdiet elit, id bibendum lorem auctor a. Donec rhoncus euismod pellentesque. Sed pretium semper nisi. Proin euismod euismod justo, quis mattis nulla iaculis nec. Integer at dolor ante. Donec efficitur suscipit nunc lobortis molestie.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                  <i class="fa fa-desktop pr-10"></i>Professional Experience
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue dui vehicula, tincidunt diam ac, faucibus arcu. Etiam pellentesque imperdiet elit, id bibendum lorem auctor a. Donec rhoncus euismod pellentesque. Sed pretium semper nisi. Proin euismod euismod justo, quis mattis nulla iaculis nec. Integer at dolor ante. Donec efficitur suscipit nunc lobortis molestie.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                  <i class="fa fa-code pr-10"></i>Web Development Experience
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue dui vehicula, tincidunt diam ac, faucibus arcu. Etiam pellentesque imperdiet elit, id bibendum lorem auctor a. Donec rhoncus euismod pellentesque. Sed pretium semper nisi. Proin euismod euismod justo, quis mattis nulla iaculis nec. Integer at dolor ante. Donec efficitur suscipit nunc lobortis molestie.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- accordion end -->
      <!-- progress bars start -->
      <!-- ================ -->
      <div id="progress_bars" class="col-md-6">
        <div class="progress mt-20 style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="95%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">C++</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="90%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Meteor.js</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="85%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Javascript</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="90%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">HTML5</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="75%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">CSS</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="100%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Unix</span>
          </div>
        </div>
        <div class="progress style-1">
          <span class="text"></span>
          <div class="progress-bar progress-bar-default" data-animate-width="90%">
            <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Amazon Web Services</span>
          </div>
        </div>
      </div>
      <!-- progress bars end -->
    </div>
  </section>
</template>
