<template name="banner">

  <section id="home" class="banner">
    <div class="banner-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-1 banner-caption">
              <h1>Marcus Quettan</h1>
              <p>
                Developing. Creating. Solving.<br/>
                <a href="#aboutme" class="page-scroll btn btn-dark btn-lg btn-gray-transparent btn-animated">
                    Learn More<i class="fa fa-arrow-down pl-20"></i>
                </a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>
