<template name="contact">
	<!-- Dark wrapper -->
	<section id="contact" class="dark">
		<!-- .contact-footer start -->
		<!-- ================ -->
		<div class="contact-footer">
			<div class="container">
				<div class="contact-footer-inner">
					<div class="row">
						<div class="col-md-6">
              <div class="contact-footer-content">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="logo">
                              <a class="page-scroll" href="#home">QUETTAN</a>
                          </div>
                      </div>
                  </div>
								<!-- <div class="mb-20"><img
                                    src="img/landing/logo-light.png" alt=""></div> -->
								<br/>
								<!-- <p>It would be great to hear from you!  Please, contact me with a description of your project to further this conversation.  I will provide you
								with a quote and an estimated time to completion once we have completely established the scope and requirements for the project.
								I look forward to hearing from you.<br/> -->
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue dui vehicula, tincidunt diam ac, faucibus arcu. Etiam pellentesque imperdiet elit, id bibendum lorem auctor a. Donec rhoncus euismod pellentesque. Sed pretium semper nisi. Proin euismod euismod justo, quis mattis nulla iaculis nec. Integer at dolor ante. Donec efficitur suscipit nunc lobortis molestie.
								<br/>
								<i> - Marcus Quettan</i>
								</p>

								<ul class="list-inline mb-20">
									<li><i class="text-default fa fa-map-marker pr-5"></i> Atlanta, GA</li>
									<li><i class="text-default fa fa-phone pl-10 pr-5"></i> +1 (770) 765-5515</li>
									<li><a href="mailto:mquettan@gmail.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-10"></i>mquettan@gmail.com</a></li>
								</ul>
								<div class="separator-2"></div>
								<ul class="social-links circle margin-clear animated-effect-1">
									<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
									<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
									<li class="dribbble"><a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
									<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
									<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
									<li class="instagram"><a target="_blank" href="http://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact-footer-content">
								<h2 class="title">Contact Me</h2>
								<div class="alert alert-success hidden" id="MessageSent">
									Your message was successfully sent!
								</div>
								<div class="alert alert-danger hidden" id="MessageNotSent">
									Oops! Something went wrong please refresh the page and try again.
								</div>
								<div class="alert alert-danger hidden" id="MessageNotSent2">
									Yahoo E-Mail addresses do not cooperate with this form.  Please use a different E-Mail address.
								</div>
								<form role="form" id="contact-footer-form" class="margin-clear">
									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="name">Name</label>
										<input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback mb-1">
										<label class="sr-only" for="email">Email address</label>
										<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="message">Message</label>
										<textarea class="message_box form-control" rows="4" id="message" placeholder="Message" name="message" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Send" class="margin-clear submit-button btn btn-default">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  <!-- .contact-footer end -->
	</section>
	<!-- footer .dark wrapper end -->

</template>
