<template name="image_gallery">
  <div class="content container">
    <!-- Gallery Heading -->
    <div id="mission" class="row">
      <div class="col-lg-12">
        <div class="gallery-header">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                  <h1>My <span class="gallery-header-light">Mission</span></h1>
                  <p class="content-wrapper">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue dui vehicula, tincidunt diam ac, faucibus arcu. Etiam pellentesque imperdiet elit, id bibendum lorem auctor a. Donec rhoncus euismod pellentesque. Sed pretium semper nisi. Proin euismod euismod justo, quis mattis nulla iaculis nec. Integer at dolor ante. Donec efficitur suscipit nunc lobortis molestie.
                  </p>
            </div>
        </div>
      </div>
    </div>
    <!-- End Gallery Heading -->

    <!-- Gallery -->
    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="lightBoxGallery">
            <a id="image_one" href="img/landing/Me_GrandTurk_Shades.jpg" title="First Image" data-gallery=""><img src="img/landing/Me_GrandTurk_Shades_Small.jpg"></a>
            <a href="img/landing/Me_CruiseShip_Shades.jpg" title="Second Image" data-gallery=""><img src="img/landing/Me_CruiseShip_Shades_Small.jpg"></a>
        </div>
        <div class="text-center">
            <i class="fa fa-picture-o"> </i> 2 images
        </div>
      </div>
    </div> -->
  </div>

  <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
  <!-- <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
  </div> -->
  <!-- End Gallery -->
</template>
