<template name="navbar">

    <!-- Header -->
    <section id="header" class="header navbar-fixed-top">
        <div class="container header-inner">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a class="page-scroll" href="#home">QUETTAN</a>
                    </div>
                    <!-- End Logo -->

                    <!--Navigation Icon-->
                    <div class="nav-menu-icon">
                        <a><i class="fa fa-bars"></i></a>
                    </div>
                    <!--End Navigation Icon-->

                    <!-- Navigation Menu -->
                    <div class="nav nav-menu">
                        <ul class="nav-menu-inner">
                            <li><a class="page-scroll" href="#home">Home</a></li>
                            <li><a class="page-scroll" href="#aboutme">About Me</a></li>
                            <li><a class="page-scroll" href="#features">My Services</a></li>
                            <li><a class="page-scroll" href="#mission">My Mission</a></li>
                            <li><a class="page-scroll" href="#contact">Contact Me</a></li>
                        </ul>
                    </div>
                    <!-- End Navigation Menu -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->

</template>
